<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-logicmonitor-index") %>>
          <a href="/docs/providers/logicmonitor/index.html">LogicMonitor Provider</a>
        </li>
        <li<%= sidebar_current("docs-logicmonitor-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-logicmonitor-datasource-findcollectors") %>>
              <a href="/docs/providers/logicmonitor/d/findcollectors.html">logicmonitor_findcollectors</a>
            </li>
            <li<%= sidebar_current("docs-logicmonitor-datasource-finddevicegroups") %>>
              <a href="/docs/providers/logicmonitor/d/finddevicegroups.html">logicmonitor_finddevicegroups</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-logicmonitor-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-logicmonitor-resource-collectorgroup") %>>
              <a href="/docs/providers/logicmonitor/r/collectorgroup.html">logicmonitor_collectorgroup</a>
            </li>
            <li<%= sidebar_current("docs-logicmonitor-resource-device") %>>
              <a href="/docs/providers/logicmonitor/r/device.html">logicmonitor_device</a>
            </li>
            <li<%= sidebar_current("docs-logicmonitor-resource-devicegroup") %>>
              <a href="/docs/providers/logicmonitor/r/devicegroup.html">logicmonitor_devicegroup</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
